.product{
    width: 700px;
    margin: 14rem 2rem 2rem 2rem;

}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p{
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.card__titles{
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
    margin-bottom: 0.5rem;
    padding-top: 10px;
    padding-right: 10rem ;
    
}

.product__img{
    width: 250px;
    height: 320px;
    margin: 0 1rem 0 0;
    
}
.card__description,
.card__sellerName,
.card__price,
.card__rating{
    font-family: var(--font-family);
    font-size: 20px;
}

.product__img img{
    width: 250px;
    height: 320px;
    border-radius: 0;
}

@media screen and (max-width:550px) {
   .product{
    width: 100%;
    margin-top: 7rem;

   }
    li{
        flex-direction: column;
    }
    .card__description,
    .card__sellerName,
    .card__price,
    .card__rating{
        font-size: 16px;
    }

    .card__titles{
        font-size: 20px;
        padding-right: 0;
        margin-bottom: 0;
    }
    .product__img img{
        width: 200px;
        height: 300px;
        border-radius: 0;
    }
    .product__img{
        margin-left: 3rem;
        display: inline-flex;
        justify-content: center;
    }

}