.app__featured{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.app__featured-title{
    font-family: var(--font-family);
    font-size: 31px;
    font-weight: 700;
    line-height: 120%; /* 37.2px */
    letter-spacing: 0.155px;
    margin-top: 7rem;
    margin-right: 2rem;
}

.app__featured-card{
    width: 192px;
    height: 310px;
    border: 1px solid ;
    border-radius: 5px 8px 8px 8px;
    background: #FFF;
    box-shadow: 0px 24px 64px 0px rgba(58, 58, 67, 0.16);

}

.card__image{
    width: 190px;
    height: 270px;
    border-radius:5px 8px 8px 8px ;
}

.card__title{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.08px;
    margin-bottom: 0.5rem;
    padding-top: 10px;
    text-align: center;
}