.app__login {
    display: flex;
    padding-right: 250px;
    padding-left: 130px;
    height: 100%;
    background-image: url(../../assets/login_image.jpg);
    background-size: cover;
    padding-top: 6rem;

}

.app__login-logo {
    width: 300px;
    height: 100px;
    margin-left: 80px;
    margin-top: 13rem;
    margin-bottom: 50px;
}

.app__login-text {
    width: 69px;
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;

    font-family: var(--font-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.app__login-inputs {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    margin-top: 10rem;
    margin-left: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88888648;
}

.app__login-email {
    width: 220px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid var(--Gray-3, #828282);
    background: #F6F6F6;
    margin-bottom: 25px;
    padding: 0 12px;

    color: #ABAAAA;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: normal;

}

.app__login-password {
    width: 220px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid var(--Gray-3, #828282);
    background: #F6F6F6;
    margin-bottom: 15px;
    padding: 0 12px;

    color: #ABAAAA;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: normal;

}

.app__login-forgotpass {
    width: 190px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.app__login-forgotpass a {
    color: white;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 550;
}

.app__login-inputs_button button {
    width: 87px;
    height: 30px;

    border-radius: 20px;
    border: 0px solid var(--Gray-6, #F2F2F2);
    background: var(--Blue-1, #1ed10e);
}


@media screen and (max-width: 1050px) {
    .app__login {
        width: 100%;
        height: 100%;

    }

    .app__login-logo {
        width: 100%;
        height: 100%;
        margin: 15rem 0 10rem 0;
    }

    .app__login-logo img {
        width: 200px;
        height: 60px;
    }

    .app__login-inputs {
        width: 100%;
        margin-left: 10rem;
    }
}

@media screen and (max-width: 550px) {
    .app__login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center;  */
    }

    .app__login-logo img {
        display: none;
    }

    .app__login-inputs {
        width: 220px;

    }

    .app__login-text {
        font-size: 23px;
    }

    .app__login-email,
    .app__login-password {
        width: 200px;
    }
}