.app__navbar{
    display:flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 0.2em;
    background-color:#88888648;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(5px);
    opacity: 1;
    color: #fff;
}
.app__navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.app__navbar-list p {
    display: flex;
    padding-left: 1.5rem;
    padding-top: 1rem;
    font-family: var(--font-family);
    font-weight: 600;
}

.app__navbar-links {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem;
}
.app__sign_in{
    
    list-style-type: none;
    font-family: var(--font-family);
    font-weight: 600;
    padding: 0 1rem 0 0;
    font-size: 18px;
}

.app__sign_in img {
    width: 27px;
    padding-right: 0.5rem;
}

.app__navbar-signup{
    list-style-type: none;
}

.app__navbar-signup button{
    padding:  0 1rem;
    color: #fff;
    background: #1ed10e;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.app__navbar-menu {
    display: none;
}
.app__navbar-logo {
    padding: 0.5rem 0 0 1.5rem;
}

.app__navbar-logo img {
    width: 200px;
    height: 47px;
}

a {
    font-size: 18px;
    
}

.app__navbar-search {
    margin-top: 0.5rem ;
    width: 400px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
}

@media screen and (max-width: 1100px){

    .app__navbar-list{
        display: none;
    }

    .app__navbar-menu{
        display: flex;
       
    }

    .app__navbar-menu_list{
        list-style: none;
        margin-right: 20rem;
        padding: 0;
        height: 100%;
        width: 100%;
  
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .app__navbar-menu_list li{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app__navbar-search{
        width: 200px;
    }

    .app__navbar-logo img{
        width: 120px;
        height: 30px;
    }

    .app__navbar-signup button{
        font-size: 15px;
    }
}


