.app__navbar{
    display:flex;
    justify-content: space-between;
    padding-right: 0.2em;
    /* background-color:#88888648; */
    background-image: url(../../assets/header.png);
}

.app__navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.app__navbar-list p {
    display: flex;
    padding-left: 1.5rem;
    padding-top: 2rem;
    font-family: var(--font-family);
    font-weight: 600;
}

.app__navbar-links {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 1rem;
}
.app__sign_in{
    
    list-style-type: none;
    font-family: var(--font-family);
    font-weight: 600;
    padding: 0.5rem 1rem 0 0;
    font-size: 18px;
}

.app__sign_in img {
    width: 24px;
    padding-right: 0.5rem;
}

.app__navbar-signup{
    list-style-type: none;
}

.app__navbar-signup button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #1ed10e;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.app__navbar-menu {
    display: none;
}
.app__navbar-logo {
    padding: 1.5rem 0 0 1.5rem;
}

.app__navbar-logo img {
    width: 200px;
    height: 50px;
}

a {
    font-size: 18px;
    
}

.app__navbar-search {
    margin-top: 1.5rem ;
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

